section .link, section article a, section article {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

h1 {
  color: rgba(239, 162, 162, 0.7);
  font-family: Helvetica;
  font-size: 40px;
  font-weight: normal;
}

h1:after {
  content: " Alonso is here";
}

section .link, section article a {
  font-family: Helvetica;
  background: #ffdf3f;
  color: #b64926;
  padding: 5px 10px;
  margin: 10px 0;
}

section article {
  background: #fff9d8;
  padding: 5px 10px;
  margin: 10px 0;
}

section article h2 {
  color: rgba(239, 162, 162, 0.7);
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bolder;
  color: #b64926;
}

section article h2:after {
  content: " Alonso is here";
}

section article p {
  color: #468966;
}

section article#article-1 {
  background-color: rgba(249, 245, 222, 0.9);
}

section article a {
  color: blue;
}
