h1 {
  color: blue;
  font-family: Helvetica;
  font-size: 40pt;
  font-weight: bold;
}

section {
  font-family: Helvetica;
}

section article h2 {
  color: #b64926;
}

section article p {
  color: #468966;
}

section article#article-1 {
  background-color: #fff0a5;
}
