@mixin heading-font($font-size: 20px, $bold: normal) {
    &:after { content: $string }
    color: map-get($colors, redo);
    font: {
        family: $font-one;
        size: $font-size;
        weight: $bold
    }
}