h1{
    color:blue;
    font: {
        family: Helvetica;
        size: 40pt;
        weight: bold
    }
}
section {
    article {
        h2 { color:red }
        p { color:grey }
        &#article-1 { background-color: yellow }
        &#article-2 { 
            a { color: purple;
                &:hover { color: green; }
            }
        }
        body:hover &#article-2 {
            background-color: black
        }
    }
}